* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background: #eee;
    color: #444; 
    -webkit-font-smoothing: antialiased;
    font-family: Avenir;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

header {
    background-color: rgba(214, 210, 207, .8);
    border-bottom: 1px solid rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    text-align: center;
}

header > nav {
    background-color: white;
    display: none;
    flex: 1;
    transform: 300ms all ease;
}

header nav > ul {
    list-style-type: none;
}

header nav > ul > li {
    border-bottom: 1px dotted rgba(0,0,0,.1);
    position: relative;
}

header nav > ul > li > a {
    display: block;
    color: rgba(0,0,0,.65);
    font-weight: 700;
    padding: 1.5rem 0;
    text-decoration: none;
    transition: 250ms all ease;
}

header nav > ul > li:last-of-type {
    border-bottom: none;
}

header nav > ul > li > a span.toggle {
    background-color: rgba(0,0,0,.1);
    font-size: 0.75em;
    font-weight: 500;
    padding: 0x;
    text-transform: lowercase;
}

header nav > ul > li > a span.caret {
    display: none;
}

header > nav > ul > li:hover > a {
    color: black;
}

/* creating the drop down menu  */

header > nav > ul > li > nav {
    display: none;
    overflow: hidden;
    position: absolute;
    right: 5%;
    width: 90%;
    z-index: 100;
}

/* styling the drop down menu list items (sub-navigation)  */

header > nav > ul > li > nav > ul > li > a {
    color: rbga(255,255,255,.85);
    transition: 300ms all ease;
}

header > nav > ul > li > nav > ul > li:hover > a {
    background-color: rgba(0,0,0,.6);
    color: rgba(255,255,255,1);
}

/* logo and toggle button  */
header > div#logo {
    line-height: 70px;
    position: relative;
}

/* for SEO purposes, it is important to include an h1 tag on
your page - denoting what it is about */
header > div#logo > h1 {
    color: white;
    font-weight: 400px;
    text-transform: lowercase;
}

/* menu toggle (click this and the main nav menu will drop down when  */
/* browsing on a mobile device) */

/* core toggle button container */
header > div#logo > div#navToggle {
    position: absolute;
    right: 0;
    top: 0;
    transition: 300ms all ease;
}

/* link inside the button container */
header > div#logo > div#navToggle: hover {
    background-color: rgba(0,0,0,.1);
}

header > div#logo > div#navToggle > a {
    color: rgba(255,255,255,.8);
    display: block;
    font-size: 0.85em;
    font-weight: 600;
    padding: 1 2.5rem;
    text-decoration: none; 
    transition: 300ms all ease;
}

header > div#logo > div#navToggle: hover > a {
    color: rgba(255,255,255,1);
}

/* media queries for destop */
@media all and (min-width: 600px) {

    header > div#logo > div#navToggle {
        display: none;
    }

    header nav > ul > li > a span.toggle {
        display: none;
    }

    header nav > ul > li > a span.caret {
        border-bottom: 4px solid transparent;
        border-top: 4px solid rgba(0,0,0,.65);
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-radius: 1px;
        content: "";
        display: inline-block;
        height: 0;
        margin: 0 0 0 .25rem;
        transition: 250ms all ease;
        width: 0;
        vertical-align: middle;
    }

    header nav > ul > li:hover > a span.caret {
        border-top-color: rgb(17, 8, 1);
        transform: rotate(270deg);
    }
}